.pcwc_admin_page .card {
    border-color: #eee;
    max-width: 100%;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_nav .nav-tab-wrapper {
    border-color: #eee;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_nav .nav-tab-wrapper a.nav-tab-active,
.pcwc_admin_settings_page .pcwc_admin_settings_page_nav .nav-tab-wrapper a:hover {
    background-color: #fafafa;
    border-color: #fafafa;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_nav .nav-tab-wrapper a {
    margin-left: 0;
    margin-right: 7px;
    padding: 10px 20px;
    outline: none;
    box-shadow: none;
    border-color: #eee;
    background-color: #e5e5e5;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr.heading {
    border-bottom: 1px dashed #eeeeee;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: unset;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr th,
.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr td {
    padding: 15px 20px;
    border-bottom: 1px dashed #eee;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr th,
.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr td {
    padding: 15px 20px;
    border-bottom: 1px dashed #eee;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr.submit p {
    margin: 0;
    padding: 0;
}

.pcwc_admin_settings_page_nav .nav-tab {
    display: flex;
    gap: 10px;
}

.pcwc-select-field select,
.pcwc-number-field input[type="number"],
.pcwc-text-field input[type="text"] {
    min-width: 350px;
    padding: 3px 10px;
    border-radius: 2px;
}

.pcwc_admin_settings_page_content .heading th{
    font-size: 22px;
}

/*--------------------------- Start Switch Field ------------------------------*/
.pcwc-switch-field {
    display: flex;
    align-items: center;
}

.pcwc-switch-field input {
    display: none;
}

.pcwc-switch-field label {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    background-color: #e2e8f0;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pcwc-switch-field input:checked + label {
    background-color: #7f54b3;
}

.pcwc-switch-field label::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pcwc-switch-field input:checked + label::before {
    transform: translateX(20px);
}

.pcwc-switch-field .pcwc-switch-icon {
    position: relative;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pcwc-switch-field .pcwc-icon-on,
.pcwc-switch-field .pcwc-icon-off {
    width: 14px;
    height: 15px;
}

.pcwc-switch-field input:checked + label .pcwc-icon-on {
    display: block;
}

.pcwc-switch-field input:not(:checked) + label .pcwc-icon-off {
    display: block;
}

.pcwc-switch-field input:not(:checked) + label .pcwc-icon-on {
    display: none;
}

.pcwc-switch-field input:checked + label .pcwc-icon-off {
    display: none;
}


.pcwc-switch-field svg.pcwc-icon-off {
    position: absolute;
    left: -11%;
}

.pcwc-switch-field .pcwc-switch-icon svg {
    stroke: #94a3b8;
    stroke-width: 2;
}

.pcwc-switch-field .pcwc-switch-icon .pcwc-icon-on {
    stroke: #7f54b3;
}

/*--------------------------- End Switch Field ------------------------------*/

.pcwc-input-group input[type="text"],
.pcwc-input-group button.pcwc-remove-field,
#pcwc_add_field{
    padding: 3px 10px;
    border-radius: 2px;
}

#product_compare_style option:disabled {
    background-color: #f2f2f2;
    color: #a0a0a0;
    cursor: not-allowed;
}

.pcwc_admin_settings_page .pcwc_admin_settings_page_content table tr th.pcwctitle {
    font-size: 22px;
    padding-top: 35px;
}