.pcwc-compare-product .pcwc-compare-img {
  max-width: 150px;
}

.pcwc-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
  
.pcwc-subHeading {
  font-size: 16px;
  font-weight: bold;
}

.pcwc-filter-reset {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  align-content: center;
  align-items: center;
}

.pcwc-filter-reset button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pcwc-filter-btn {
  cursor: pointer;
  background-color: #9dc997;
  padding: 9.6px 32px;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 16px;
  font-size: 16px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pcwc-compare-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
}

.pcwc-check {
  width: 16px;
  height: 16px;
  margin-bottom: 25px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  appearance: none;
  display: inline-block;
  position: relative;
}

.pcwc-check:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.pcwc-check:checked::after {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: 5px;
}
.pcwc-name {
  padding: 20px 0 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.pcwc-compare-product p {
  font-size: 14px;
  margin: 0;
}

.pcwc-reset-btn {
  color: #404042;
  text-decoration: underline;
  background: none;
}

.pcwc-filter-btn:disabled {
  padding: 9.6px 32px;
  color: #ffffff;
  background-color: #cccccc;
  border-radius: 3px;
  margin-left: 16px;
  font-size: 16px;
  cursor: not-allowed;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}


/* Comparison Table */


.pcwc-table-container {
  margin-bottom: 96px;
  padding-top: 20px;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
  margin-top: 20px;
}

.pcwc-scrollable-table {
  position: relative;
  width: 100%;
  overflow-x: auto;
  /* white-space: nowrap; */
  border-bottom: 1px solid #ccc;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.pcwc-comparison-table {
  width: 100%;
  border-collapse: collapse;
}

.pcwc-comparison-table th.pcwc-info,
.pcwc-comparison-table td.pcwc-info {
  text-align: left;
  text-transform: uppercase;
  position: sticky;
  left: 0;
  font-size: 10px;
  border-style: solid;
  border-color: #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;
  z-index: 1;
  background-color: #fafafa;
  opacity: 0.95;
}

table.pcwc-comparison-table {
  width: max-content;
  border-collapse: collapse;
}

.pcwc-comparison-table th,
.pcwc-comparison-table td {
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.pcwc-comparison-table td img {
  max-width: 100px;
  margin-bottom: 10px;
}

.pcwc-comparison-table td {
  font-size: 15px;
}
.pcwc-comparison-table th.pcwc-info {
  position: sticky;
  top: 0;
  text-align: left;
  vertical-align: top;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #fafafa;
  z-index: 1;
  opacity: 0.95;
}

.pcwc-comparison-table th,
.pcwc-comparison-table td {
  min-width: 10px;
}

.pcwc-comparison-table td{
  max-width: 310px;
  font-weight: normal;
}

.pcwc-comparison-table .pcwc-info{
  font-weight: bold;
}

@media only screen and (min-width: 1170px) {

  .pcwc-subHeading {
    font-size: 23px;
  }
  .pcwc-name {
    padding-top: 22.4px;
    font-size: 17px;
  }
  .pcwc-compare-img {
    max-width: 230px;
  }

  .pcwc-comparison-table th.pcwc-info,
  .pcwc-comparison-table td.pcwc-info {
    font-size: 12px;
    width: 210px;
    max-width: 200px;
  }

  .pcwc-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 65px 25px; */
  }

  .pcwc-compare-product {
    padding: 0 20px 0 20px;
  }
}
  

.pcwc-compare-add-to-cart p {
	margin: 0;
	padding: 0 !important;
	border: none !important;
}

.pcwc-compare-modal {
	display: none;
	/* Initially hidden */
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.pcwc-compare-modal.show {
	display: block;
}

.pcwc-compare-modal-content {
	background-color: #fff;
	padding: 15px 0 2px 0;
	width: 100%;
  height: 100vh;
}

.pcwc-compare-modal-close {
  position: absolute;
  font-size: 32px;
  cursor: pointer;
  right: 15px;
  top: 7px;
  z-index: 99;
  line-height: 1;
}

.pcwc-compare-modal-close:hover,
.pcwc-compare-modal-close:focus {
	color: rgb(54, 54, 54);
	text-decoration: none;
}

body.overflow-hidden {
	overflow: hidden;
}

.pcwc-compare-modal::-webkit-scrollbar,
.pcwc-scrollable-table::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.pcwc-compare-modal::-webkit-scrollbar-track,
.pcwc-scrollable-table::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 4px;
}

.pcwc-compare-modal::-webkit-scrollbar-thumb,
.pcwc-scrollable-table::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 8px;
}


/** Start Css for compare table **/

.pcwc-rate .star-rating {
  float: none;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: WooCommerce;
  right: auto;
  color: #e6c456 !important;
  left: 50%;
  transform: translateX(-50%);
}

.pcwc-rate .star-rating:before {
    float: right;
    content: "sssss";
    color: #cfc8d8;
    top: 0;
    left: 0;
    position: absolute;
}

.pcwc-rate .star-rating span::before {
    float: right;
    content: "SSSSS";
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.pcwc-rate .star-rating span {
    float: right;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.pcwc-compare-container{
    max-width: 100%;
}

.pcwc-description{
    margin: 0;
    padding: 0;
}

#pcwc-compare-modal .pcwc-controls {
    margin-top: 10px;
    padding: 0px 40px;
}

.woocommerce-shop .pcwc-compare-button-wrapper,
.pcwc-horizontal-table td.pcwc-info {
  text-align: center;
}

@media(max-width: 768px){
  .pcwc-comparison-table td {
      max-width: 200px
  }
}

@media(max-width: 540px){

  .pcwc-comparison-table td {
      max-width: 160px
  }

  .pcwc-sticky-compare {
    gap: 8px;
  }

}


.pcwc-comparison-table.pcwc-vertical-table .first-th{
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 1170px) {
  .pcwc-comparison-table.pcwc-vertical-table th, 
  .pcwc-comparison-table.pcwc-vertical-table td {
      font-size: 12px;
      width: 270px;
      max-width: 270px;
  }
}

.pcwc-comparison-table.pcwc-vertical-table .pcwc-description {
  line-height: 1.4;
}


/*---------------  Compare Table Style 1 Start -----------*/

.pcwc-comparison-table.pcwc-vertical-table.style-1 .fa-long-arrow-alt-right{
  margin-right: 10px;
  color: #C3CCDC !important;
  font-weight: 900 !important;
}

.pcwc-comparison-table.pcwc-vertical-table.style-1 th,
.pcwc-comparison-table.pcwc-vertical-table.style-1 td{
  font-size: 16px;
  padding: 23px;
  font-family: "Poppins", Sans-serif;
  background-color: white;
}

.pcwc-comparison-table.pcwc-vertical-table.style-1 .pcwc-compare-add-to-cart a{
  background-color: #000;
  color: #fefefe;
  padding: 15px 15px 15px 15px;
  line-height: 1;
}

.pcwc-comparison-table.pcwc-vertical-table.style-1 .pcwc-info{
  color: #252525;
  font-weight: 400;
}

/*------------ Compare Table Style 1 End ---------------- */


/*------------ Compare horizontal Table Style 1 Start ---------------- */


.pcwc-comparison-table.pcwc-horizontal-table.compare-table .fa-long-arrow-alt-right{
  margin-right: 10px;
  color: #C3CCDC !important;
  font-weight: 900 !important;
}

.pcwc-comparison-table.pcwc-horizontal-table.compare-table th,
.pcwc-comparison-table.pcwc-horizontal-table.compare-table td{
  font-size: 16px;
  padding: 23px;
  font-family: "Poppins", Sans-serif;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}

.pcwc-comparison-table.pcwc-horizontal-table.compare-table .pcwc-compare-add-to-cart a{
  background-color: #000;
  color: #fefefe;
  padding: 15px 15px 15px 15px;
  line-height: 1;
}

.pcwc-comparison-table.pcwc-horizontal-table.compare-table .pcwc-info{
  color: #252525;
  font-weight: 400;
}

/*------------ Compare horizontal Table Style 1 End ---------------- */




/*-------------- Genral Icons ---------------*/

.woocommerce ul.products li.product {
  position: relative;
}

.pcwc-product-icons-container {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pcwc-product-icons-container.pcwc-loop-product-icons.hover{
  display: none;
}

.pcwc-product-icons-container.horizontal {
  flex-direction: row;
}

.pcwc-product-icons-container .pcwc-compare-icon {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  z-index: 20;
  font-size: 16px;
  align-content: center;
  justify-content: center;
}

.pcwc-product-icons-container .pcwc-compare-icon:hover {
  background: #274c4f;
  border: 1px solid #274c4f;
}

.woocommerce ul.products li.product:hover .pcwc-product-icons-container {
  display: flex;
}

.pcwc-product-icons-container img {
  margin: 0 !important;
  max-width: 16px;
  max-height: 16px;
  width: 100%;
}

.pcwc-product-icons-container.pcwc-loop-product-icons.top-right,
.pcwc-product-icons-container.pcwc-single-product-icons.top-right {
  top: 8px;
  right: 8px;    
}

.pcwc-product-icons-container.pcwc-loop-product-icons.bottom-right,
.pcwc-product-icons-container.pcwc-single-product-icons.bottom-right {
  bottom: 8px;    
  right: 8px;
}

.pcwc-product-icons-container.pcwc-loop-product-icons.top-left,
.pcwc-product-icons-container.pcwc-single-product-icons.top-left {
  top: 8px;
  left: 8px;    
}

.pcwc-product-icons-container.pcwc-loop-product-icons.bottom-left,
.pcwc-product-icons-container.pcwc-single-product-icons.bottom-left {
  bottom: 8px;    
  left: 8px;
}

.pcwc-compare-button-wrapper .pcwc-loader{
  display: none !important;
  margin: 0 !important;
  padding: 0;
}

.pcwc-compare-button-wrapper .pcwc-loader.show{
  display: inline !important;
  margin: 0 !important;
  padding: 0;
}

body.pcwc-loading{
  opacity: 0.5;
  overflow: hidden;
}

.pcwc-comparison-table td.pcwc-rate .star-rating{
  float: none;
}